@import url("sections/todoPage.css");

@font-face{
    font-family: inter;
    font-weight: 300;
    src: url(/fonts/InterTight-Light.ttf);
}
@font-face{
    font-family: inter;
    font-weight: 500;
    src: url(/fonts/InterTight-Regular.ttf);
}
@font-face{
    font-family: inter;
    font-weight: 700;
    src: url(/fonts/InterTight-Bold.ttf);
}


:root{
    --pri:#202124;
    --sec:#191a1c;
    --tri1:#2a2b2e;
    --tri2:#ECEBDE;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body,html{
    width: 100%;
    height: 100%;  
    background: var(--sec);
}

.main{
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

section.allCards{
    width: 100%;
    display: flex;
    flex: 1;
    gap: 18px;
    flex-direction: row;
    padding-top: 10px;
    flex-wrap: wrap;
}

.card{
    overflow: hidden;
    font-family: inter;
    background: var(--pri);
    width: 240px;
    height: 400px;
    border-radius: 24px;
    position: relative;
    transition: all ease-in 0.2s;
}

.moti{
    color: #f6f8ee;
}

.card img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card h3{
    position: absolute;
    right: 10%;
    bottom: 6%;
}

.card:active{
    scale: 0.97;
}

section.cardPage{
    font-family: inter;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 40px;
    background-color: var(--pri);
    display: none;
    position: absolute;
    border-radius: 24px;
}

.close-btn{
    font-family: inter;
    background-color: red;
    position: absolute;
    right: 5%;
    top: 5%;
    border: none;
    width: 100px;
    height: 42px;
    border-radius: 12px;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
}

.close-btn:active{
    scale: 0.97;
}
