@import url("sections/header.css");
@import url("sections/hero.css");
@import url("sections/allCards.css");
@import url("sections/todoPage.css");
@import url("sections/pomodoro.css");
@import url("sections/dailyPlannerPage.css");
@import url("sections/todoDetailSection.css");
@import url("sections/motivation.css");


@font-face {
    font-family: inter;
    font-weight: 300;
    src: url(/fonts/InterTight-Light.ttf);
}

@font-face {
    font-family: inter;
    font-weight: 500;
    src: url(/fonts/InterTight-Regular.ttf);
}

@font-face {
    font-family: inter;
    font-weight: 700;
    src: url(/fonts/InterTight-Bold.ttf);
}

@font-face {
    font-family: authorName;
    src: url(/fonts/Corinthia-Bold.ttf);
}

@font-face {
    font-family: zenDots;
    src: url(/fonts/ZenDots-Regular.ttf);
}


:root {
    --pri: #202124;
    --sec: #191a1c;
    --tri1: #2a2b2e;
    --tri2: #1e1e1e;

    --white1: white;
    --white2: rgb(220, 220, 220);

    --blackBG: black;
    --black: black;
    --grayBG: #313131;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    background-image: radial-gradient(var(--grayBG) 1px, var(--blackBG) 1px);
    background-size: 10px 10px;
}

.main {
    max-width: 960px;
    height: 100%;
    margin: 0 auto;
    position: relative;

    display: flex;
    flex-direction: column;
}







@media screen and (max-width: 900px) {

    .main {
        padding: 0px 1rem;
    }

    /* nav */
    .nav .circleBox {
        width: 14%;
    }

    /* hero */
    .hero2 {
        width: 20%;
    }

    /* daily Planner */
    .daily-planner-time {
        width: 100%;
    }

    .daily-planner-time .planner-time {
        width: 15%;
        justify-content: flex-start;
    }

    /* To-do */
    .todo-container .allTask .task button {
        margin-left: 0rem;
    }

    .todo-container .addTask form div.checkbox {
        padding: 10px 0px;
    }

    .todo-container .allTask .task h5 {
        width: 50%;
    }

    /* pomodoro */
    .sessionType {
        width: 20%;
    }
}

@media screen and (max-width: 750px) {

    .main {
        min-height: 100%;
    }

    /* Nav */
    .nav h1 {
        font-size: 28px;
    }

    .nav .circleBox {
        width: 20%;
    }

    .circle1,
    .circle2 {
        width: 38px;
        height: 38px;
    }

    .circle1 img,
    .circle2 img {
        width: 30px;
        height: 30px;

        position: absolute;
        top: 10%;
        left: 10%;
    }

    /* Hero */
    .hero1 {
        margin-left: 0rem;
        width: 30%;
    }

    .hero1 h1 {
        font-size: 35px;
    }

    .hero1 h1 span {
        font-size: 18px;
        margin-left: 0.25rem;
    }

    .hero1 h4 {
        font-size: 13px;
    }

    .hero1 h3 {
        margin-top: 3rem;
        font-size: 18px;
    }

    .hero2 {
        width: 25%;
    }

    .hero2 h1 {
        font-size: 32px;
        margin-bottom: 0rem;
    }

    .hero2 h3 {
        font-size: 17px;
        font-weight: 600;
    }

    .hero2 h5 {
        font-size: 11px;
    }

    /* Cards */
    section.allCards {
        min-height: 300px;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .card {
        height: 300px;
    }

    .card img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .card h3 {
        font-family: inter;
        position: absolute;
        right: 10%;
        bottom: 6%;
    }

    .card.moti {
        color: var(--white2);
    }

    .card:hover {
        scale: 1.01;
        ;
    }

    .card:active {
        scale: 0.97;
    }

    section.cardPage {
        top: 0%;
        left: 0%;
        width: 100%;
        min-height: 100vh;
        height: auto;
        font-size: 14px;
        padding: 1rem;
        border-radius: 0px;
    }

    section.cardPage h1 {
        padding: 1rem 1rem 0rem 1rem;
    }

    .close-btn {
        right: 6%;
        top: 2.3rem;
        width: 32px;
        height: 32px;
        font-size: 18px;
    }

    /*t0do */
    .todo-container {
        height: auto;
        margin-top: 2.5rem;

        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .todo-container .addTask {
        width: 95%;
        height: auto;
    }

    .todo-container .addTask form .input {
        height: 50px;
    }

    .todo-container .addTask form textarea {
        width: 100%;
        height: 10rem;
    }

    .todo-container .allTask {
        width: 95%;
        height: auto;
    }

    .todo-container .allTask .task {
        width: 100%;
        height: 50px;

        border-radius: 8px;

        margin-bottom: 10px;
        padding: 10px 10px;
    }

    .todo-container .allTask .task h5 {
        width: 70%;
        gap: 5px;
        margin-left: 5px;
    }

    .todo-container .allTask .task .todoFunctionBtns button,
    .todo-container .allTask .task button {
        width: 1.7rem;
        height: 1.7rem;
        padding: 1.9px;
        border-radius: 50px;
    }

    .todo-container .allTask .task .todoFunctionBtns button img,
    .todo-container .allTask .task button img {

        width: 1.5rem;
        height: 1.2rem;
    }

    .todoFunctionBtns {
        width: 25%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    section.todo-details-section {

        position: absolute;

        top: 0px;
        left: 0px;

        padding: 0px;
        margin: 0px;
        box-sizing: border-box;

        width: 100%;
        height: 100vh;
    }

    section.todo-details-section .todo-details-card {
        top: 20%;
        left: 20%;

        width: 60%;
        height: 60%;
    }

    /* pomodoro */
    .pomodoro-container {
        height: 85vh;
        box-shadow: inset 0 0 24px green;
    }

    .pomodoro-container.false {
        box-shadow: inset 0 0 24px blue;
    }

    .sessionType {
        width: 28%;
        top: 33%;
        left: 36%;
    }

    .pomodoro-timer {

        width: 100%;
        height: 58%;

        font-family: sans-serif;
        font-size: 4.2rem;
    }

    .pomodoro-btns {
        width: 100%;
        height: 45%;
        padding-top: 1rem;
    }

    .pomodoro-btns button {
        padding: 8px 28px;
    }

    /*  Daily Planner */

    .daily-planner {
        width: 100%;
        border-radius: 8px;
        flex-direction: column;
    }

    .daily-planner .daily-planner-time {
        width: 100%;
        height: 40px;
    }


    .daily-planner-time .planner-time {
        width: 25%;
        height: 90%;
    }

    .daily-planner-time .planner-task {
        width: 75%;
    }

    .daily-planner-time .planner-task input {
        font-size: 16px;
    }

    /* motivation */

    .motivational-container {
        height: 85vh;
    }

    .motivational-container .motivational-card {
        width: 60%;
        padding: 22px;
    }

    .motivational-card img {
        top: -9%;
        right: 5%;
        height: 32%;
    }

    .motivational-card .motivational-title {
        font-size: 18px;
    }


    .motivational-card .motivational-quote {
        line-height: 1.1;
        font-size: 22px;
    }

    .motivational-card .motivational-author {
        font-size: 26px;
    }
}

@media screen and (max-width: 480px) {

    /* Nav */
    .nav {
         height: 12%;
    }
    .nav h1 {
        font-size: 23px;
    }

    .nav .circleBox {
        width: 25%;
    }

    .circle1,
    .circle2 {
        width: 34px;
        height: 34px;
        box-shadow: none;
    }

    .circle1 img,
    .circle2 img {
        width: 27px;
        height: 27px;
    }

    .hero1 {
        width: 50%;

    }

    .hero1 h1 {
        margin-left: -8px;
        font-size: 28px;
    }

    .hero1 h1 span {
        font-size: 13px;
        margin-left: 0.25rem;
    }

    .hero1 h4 {
        padding-top: 1rem;
        margin-left: -8px;
        font-size: 10px;
    }

    .hero1 h3 {
        margin-left: -8px;
        margin-top: 7rem;
        font-size: 16px;
    }

    .hero2 {
        width: 30%;
    }

    .hero2 h1 {
        font-size: 28px;
    }

    .hero2 h3 {
        font-size: 15px;
    }

    .hero2 h5 {
        font-size: 10px;
    }

    /* Cards */
    .card {
        height: 280px;
    }

    section.cardPage {
        font-size: 13px;
        padding: 0.5rem;
    }

    section.cardPage h1 {
        padding: 1.5rem 2rem 0rem 0.5rem;
    }

    .close-btn {
        right: 6%;
        top: 2.3rem;
        width: 32px;
        height: 32px;
        font-size: 18px;
    }

    /*todo */
    .todo-container {
        margin-top: 2rem;
    }

    .todo-container .addTask {
        width: 100%;
        height: auto;
        padding: 0.6rem;
    }

    .todo-container .addTask form .input {
        height: 50px;
        border-radius: 6px;
        margin-bottom: 0.6rem;
        font-size: 16px;
        padding: 0.8rem;
    }

    .todo-container .addTask form textarea {
        font-size: 16px;
        border-radius: 6px 6px 0px 0px;
        width: 100%;
        height: 9rem;
        padding: 0.8rem;
    }

    .todo-container .allTask {
        width: 100%;
        height: auto;
        margin-top: 0.6rem;
        border-radius: 8px;
        padding: 0.6rem;
    }

    .todo-container .allTask .task {
        position: relative;
        width: 100%;
        height: 50px;

        border-radius: 6px;

        margin-bottom: 10px;
        padding: 6px 10px;
    }

    .todo-container .allTask .task .todoFunctionBtns button.edit-btn {
        display: none;
    }

    .todoFunctionBtns {
        width: 25%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    section.todo-details-section .todo-details-card {
        top: 20%;
        left: 10%;

        width: 80%;
        height: 60%;
    }


    /* pomodoro */
    .sessionType {
        width: 35%;
        top: 33%;
        left: 36%;
    }

    .pomodoro-timer {
        height: 55%;
        padding-left: 2rem;
        font-size: 3.2rem;
    }

    .pomodoro-btns {
        width: 100%;
        height: 48%;
        padding-top: 1rem;
    }

    .pomodoro-btns button {
        padding: 7px 20px;
    }

    /*  Daily Planner */

    .daily-planner .daily-planner-time {
        padding: 0px 10px;
        width: 100%;
        height: 40px;
        border-radius: 6px;
    }


    .daily-planner-time .planner-time {
        width: 30%;
        height: 90%;
        font-size: 14px;
    }

    .daily-planner-time .planner-task {
        width: 70%;
    }

    /* motivation */
    .motivational-container .motivational-card {
        width: 70%;
        padding: 22px;
    }

    .motivational-card img {
        top: -9%;
        right: 5%;
        height: 30%;
    }
}