section.allCards {
    width: 100%;
    height: 50%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
}

.card {
    height: 90%;
    border-radius: 12px;
    
    overflow: hidden;
    position: relative;

    transition: all ease-in 0.2s;
    cursor: pointer;

    box-shadow: 0px 0px 10px 5px rgb(0, 0, 0);
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card h3 {
    font-family: inter;
    position: absolute;
    right: 10%;
    bottom: 6%;
}

.card.moti {
    color: #f6f8ee;
}

.card:active {
    scale: 0.97;
}

section.cardPage {
    top: 2.5%;
    left: 0%;
    width: 100%;
    height: 95%;
    
    font-family: inter;
    color: #fff;
    background-color: rgb(10, 10, 10);
    box-shadow: 4px 0px 0px #1e1e1e, -4px 0px 0px #1e1e1e;
    
    padding: 36px;
    display: none;
    position: absolute;
    border-radius: 12px;
}

.close-btn {
    padding: 5px 20px 5px 18px;
    font-family: inter;
    font-weight: 500;

    color: #fff;
    background-image: linear-gradient(to right, #dc0000,#af0000);

    right: 5%;
    top: 5%;
    width: 100px;
    height: 36px;

    border-radius: 10px;
    font-size: 20px;

    position: absolute;
    border: none;
    cursor: pointer;

    transition: all ease 0.2s;
}

.close-btn:active {
    scale: 0.97;
}